import os
basedir = os.path.abspath(os.path.dirname(__file__))


class Config:
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'nobody knows the password'
    PER_PAGE = 10

    SQLALCHEMY_COMMIT_ON_TEARDOWN = True
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SQLALCHEMY_RECORD_QUERIES = True

    FLASK_ADMIN_EMAIL = os.environ.get('MAIL_USERNAME') or "<EMAIL@ADDRESS>"

    IMAGE_UPLOAD_DIR = 'static/upload/'
    UPLOAD_FOLDER = os.path.join(
        os.path.dirname(os.path.abspath(__file__)), 'app/static/upload/')


    MAIL_SERVER = '<example:smtp.163.com>'
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = os.environ.get('MAIL_USERNAME') or '<EMAIL@ADDRESS>'
    MAIL_PASSWORD = os.environ.get('MAIL_PASSWORD') or '<EMAIL_PASSWORD>'

    WR_MAIL_SUBJECT_PREFIX = '[WeeklyReport]'
    WR_MAIL_SENDER = 'WeeklyReport_CY <EMAIL@ADDRESS>'

    @staticmethod
    def init_app(app):
        pass

    DEPARTMENTS = (
        '人事部',
        '测试部',
    )

    DEFAULT_CONTENT = "<p><strong>本周工作内容:</strong></p><ol><li></li></ol>" \
                      "<p>&nbsp;<strong>下周计划:</strong></p><ol><li></li></ol>"


class ProductionConfig(Config):
    DEBUG = False
    SQLALCHEMY_DATABASE_URI = os.environ.get('PRD_DATABASE_URL') or \
        'postgresql://postgres:postgres@localhost/wr_prd'

    @classmethod
    def init_app(cls, app):
        super(ProductionConfig, cls).init_app(app)

        import logging
        gunicorn_error_handlers = logging.getLogger('gunicorn.error').handlers
        app.logger.handlers.extend(gunicorn_error_handlers)
        app.logger.setLevel(logging.DEBUG)


class DevelopmentConfig(Config):
    DEBUG = True
    SQLALCHEMY_DATABASE_URI = os.environ.get('DEV_DATABASE_URL') or \
        'sqlite:///' + os.path.join(basedir, 'wr_dev.sqlite')

    @classmethod
    def init_app(cls, app):
        super(DevelopmentConfig, cls).init_app(app)

        import logging
        from logging.handlers import RotatingFileHandler
        file_handler = RotatingFileHandler(
            'logs/wr-dev.log', maxBytes=1024 * 1024 * 100, backupCount=20)
        file_handler.setLevel(logging.DEBUG)
        formatter = logging.Formatter("%(asctime)s-%(levelname)s %(message)s")
        file_handler.setFormatter(formatter)
        app.logger.addHandler(file_handler)


config = {
    'default': ProductionConfig,
    'production': ProductionConfig,
    'development': DevelopmentConfig
}
