{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head_script %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wangEditor/css/wangEditor.min.css') }}">
    <style>
    #body {
        resize: vertical;
        height: 500px
    }
    </style>
{% endblock %}


{% block page_content %}
    <h3>第{{ week_count }}周({{start_at}}至{{end_at}})工作周报</h3>


    <form class="form form-inline" method="post" role="form">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ form.body(class='wangEditor') }}
        <hr style="height:10pt; visibility:hidden;" />

        {{ wtf.form_field(form.project) }}
        {{ wtf.form_field(form.save) }}
    </form>



{% endblock %}



{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='wangEditor/js/wangEditor.min.js') }}"></script>
<script type="text/javascript">
    // 获取元素
    var div = document.getElementById('body');
    // 生成编辑器
    var editor = new wangEditor(div);
    // 插入代码时的默认语言
    editor.config.codeDefaultLang = 'python'
    editor.config.uploadImgUrl = {{ url_for('main.upload') }};
    editor.config.uploadImgFileName = 'image';
    editor.create();
    function postForm() {
    };
</script>

{% endblock %}
