{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
    <h3>第{{ week_count }}周工作周报</h3>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.body(class='ckeditor') }}
        <!-- 替换脚本 -->
        <script type="text/javascript">
            CKEDITOR.replace(
                "body", {
                    language: 'zh-cn',
                    filebrowserUploadUrl: 'static/upload/',
                }
            );
        </script>

        {{ form.project }}
        {{ form.save }}
        {{ submit_form.submit }}
    </form>
{% endblock %}
